*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    /* border: 1px solid greenyellow; */
}



:root{
    --mcolor: #2f7efd;
    --white: #ffffff;
    --black: #222222;
    --txtcolor: #9A9A9A;
}


@media (min-width: 576px){
    .mobile_body{
        width: 575px;
        margin: 0 auto;
        background: #ffffff36;
        height: 95vh;
        margin: 2vh auto;
        border-radius: 5px;
        backdrop-filter: blur(6px);
        overflow: hidden;
    }


    body{
        background-image: url(bg.jpg);
        background-size: cover;
    }

}
